# Expo
expo-env.d.ts
.expo/

# Dependencies
node_modules/
api/node_modules/

# Native build artifacts
ios/
android/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Environment
.env
.env.local

# OS
.DS_Store
